<%- include('partials/_header');%>
<%- include('partials/_navigation');%>

    <div class="all-title-box">
        <div class="container text-center">
            <h1><%= course.name %><span class="m_1">SmartEDU ile öğrenmeye hemen başla.</span></h1>
        </div>
    </div>
    
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="blog-item">
                        <div class="image-blog">
                            <img src="/images/blog_single.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="post-content">
                            <div class="post-date">
                                <span class="day">11</span>
                                <span class="month">Feb</span>
                            </div>
                            <div class="meta-info-blog">
                                <span><i class="fa fa-calendar"></i> <a href="#">2026</a> </span>
                            </div>
                            <div class="blog-title">
                                <h2><a href="#" title=""><%= course.name %></a></h2>
                            </div>
                            <div class="blog-desc">
                                <p><%= course.description %></p>
                                
                                <blockquote class="default">
                                    Bu kurs ile ilgili daha fazla bilgi almak için eğitmenle iletişime geçebilirsiniz.
                                </blockquote>
                            </div>                          
                        </div>
                    </div>
                    
                    <div class="blog-author">
                        <div class="author-bio">
                            <h3 class="author_name"><a href="#">Admin</a></h3>
                            <h5>SmartEDU Eğitmeni</h5>
                            <p class="author_det">
                                Uzman eğitmen kadromuzla hazırlanan bu içerik, kariyerinizde size yeni kapılar açacaktır.
                            </p>
                        </div>
                        <div class="author-desc">
                            <img src="/images/author.jpg" alt="about author">
                            <ul class="author-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div><div class="col-lg-3 col-12 right-single">
                    <div class="widget-search">
                        <div class="site-search-area">
                            <form method="get" id="site-searchform" action="#">
                                <div>
                                    <input class="input-text form-control" placeholder="Search..." type="text">
                                    <input id="searchsubmit" value="Search" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">Mobile App</a></li>
                        </ul>
                    </div>
                </div>
            </div></div></div><%- include('partials/_footer');%>